<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BinaryCoderType" value="asyncAdvanced" />
    <add key="DecoderType" value="asyncAdvanced" />
    <add key="PriorityQueueType" value="secondVersion" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
